<div class="container">
  <div class="row">
    <div class="col-sm border-bottom mt-3">
      <h1 class="text-center">Alta Cliente</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm mt-3">
      <app-formulario
        (enviarArrayFormulario)="recibirDatosFormulario($event)"
      ></app-formulario>
    </div>
  </div>
  <div class="row">
    <div class="col-sm mt-3">
      <app-datos-introducidos
        [arrayFormulario]="arrayFormulario"
      ></app-datos-introducidos>
    </div>
  </div>
</div>
